.rowView {
  display: flex;
  align-items: center;
  gap: 10px;

  h1 {
    text-align: center;
  }

  mat-form-field {
    margin: 0;
    flex: 1;
  }

  button {
    margin-left: 10px;
  }
}
button.selected {
  background-color: green;
}
